<div class="col-sm-8 col-sm-offset-2">

  <form (ngSubmit)="onSubmit()" [formGroup]='affaireForm'>
    <div class="form-values">
        <div class="form-group">          
            <br><br/>
          <mat-form-field >
              <input matInput placeholder="NOM DE L'AFFAIRE" name="titre">
          </mat-form-field>
        
          <mat-form-field>
            <mat-select placeholder="RESPONSABLE"name="agentId">
              <mat-option *ngFor="let agent of agents" [value]="agent.value">
                {{agent.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>    
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" type="date" placeholder="Date d'ouverture">
          <mat-datepicker-toggle matSuffix [for]="picker">            
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field><br>
        <mat-form-field class="text-area">
            <textarea matInput placeholder="Résumé de l'affaire"></textarea>
        </mat-form-field> 
      </div>

  <button type="submit" class="btn btn-primary">Envoyer</button>
           
  </form>

</div>